.main-div {
  width: 100%;
  height: 90vh;
}

.title {
  width: 100%;
  border: 2px solid violet;
  text-align: center;
}

/* New rule for the Outlet container */
.content {
  min-height: 80vh;
}

/* .error-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
} */
